.mat-toolbar-row{
    justify-content: space-between;
}
.end {
    margin-right: 7rem;
    
}

.create-moment-button{
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.create-moment-button{
background-color: crimson;
border: none;
font-size: medium;
}