<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="logo" routerLink="home" routerLinkActive="active">
      account_balance
    </mat-icon>
    <div class="end">
      <button
        routerLink="createpost"
        routerLinkActive="active"
        class="create-moment-button"
      >
        Create Moment
      </button>
      <button
        (click)="logoutUser()"
        routerLinkActive="active"
        class="create-moment-button-logout"
      >
        Logout
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
