.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
    width: 56%;
    height: fit-content;
}
.mat-form-field {
    width: 40%;
    margin-left: 5%;
    margin-bottom: 0;

}
